.paginationContainer {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  color: var(--very-light-gray);
  background-color: var(--very-dark-gray);

  border-radius: 50%;
  border: none;
}
